.reservations-container {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.reservation {
  border-radius: 5px;
  box-shadow: var(--box-shadow-1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.reservation-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.reservation-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.back-button-color {
  color: white;
  background-color: var(--color-1);
}

.cancel-reservation {
  padding: 10px;
  background-color: darkslategray;
  color: white;
  border-radius: 15px;
  border: none;
  box-shadow: var(--box-shadow-4);
  cursor: pointer;
  font-size: 0.6em;
  font-weight: 700;
}

.cancel-reservation:hover {
  background-color: var(--color-5);
}

@media (min-width: 768px) {
  .reservations-container {
    height: 100vh;
  }
}
