@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font-1);
}

:root {
  /* colors */
  --color-1: #ebe3d9;
  --color-2: #e4a37d;
  --color-3: #bf8e63;
  --color-4: #986445;
  --color-5: #1f0e04;

  /* hover colors */
  --color-hover-1: #477b88;
  --color-hover-2: #a7ccdc;
  --color-hover-3: #88a6c1;
  --color-hover-4: #8e8162;
  --color-hover-5: #bdbab5;

  /* shadows */
  --box-shadow-1: 3px 3px 10px rgba(0, 0, 0, 0.4);
  --box-shadow-2: 5px 5px 15px rgba(0, 0, 0, 0.4);
  --box-shadow-3: 10px 10px 25px rgba(0, 0, 0, 0.4);

  /* fonts */
  --font-1: 'Roboto', sans-serif;
}
